.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  padding: 1rem;

  border: 3px solid var(--color-branded-primary);
  border-radius: 1rem;

  background-color: white;
}

.title {
  font-family: var(--font-roboto);
  font-size: 2rem;
  font-weight: 700;

  text-align: center;
}

.subtitle {
  font-family: var(--font-roboto);
  font-size: 1.5rem;
  font-weight: 700;

  text-align: center;
}

.priceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  width: 100%;
}

.price {
  font-family: var(--font-roboto);
  font-size: 4rem;
  font-weight: 900;

  color: var(--color-branded-primary);
}

.unit {
  font-family: var(--font-roboto);
  font-size: 1.25rem;
  font-weight: 700;

  color: var(--color-gray);
}

.discount {
  font-family: var(--font-roboto);
  font-size: 1.25rem;
  font-weight: 700;
}

.buyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: 100%;
}
